@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>ITSM:</strong>   <a href="mailto:jairo@htel.com.br">tecnologia@htel.com.br</a><br />
    <strong>Comercial:</strong> <a href="mailto:htel@htel.com.br">Comercial@htel.com.br</a>
</address>