@charset "utf-8";
/* CSS Document */
@media screen and (max-width:980px){
	.header .h_inner{width:70%;}
	.header .h_inner .ycnav{display:block;}
	.header .h_inner .nav{display:none}
	.footer .f_inner{width:60%;}
	.footer .f_inner div{float:none;margin-bottom:30px;}	
	.footer .f_inner ul{float:left;}
}
@media screen and (max-width:768px){
    .header .h_inner .logo{display:none}
    .footer .f_inner ul{background-image:none;padding:0;}
}
